@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rasa:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
.navbar_section {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background-color: white;
  z-index: 9;
  padding: 0px 30px;
}

@media only screen and (max-width: 767px) {
  .navbar_section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-icon .logo {
  font-family: "rasa";
  font-size: 32px;
}

.search-icon .logo a {
  text-decoration: none;
  color: #6A54C0;
  font-weight: 600;
}

.search-icon .search-wrapper {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F3F3F4;
  padding: 3px 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  margin-right: 20px;
}

.search-icon .search-wrapper:hover {
  outline: 2px solid #6A54C0;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  .search-icon .search-wrapper {
    display: none;
  }
}

.search-icon .search-wrapper button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px 5px 10px 20px;
}

.search-icon .search-wrapper button .fa-search {
  -webkit-transition: color ease-in-out .2s;
  transition: color ease-in-out .2s;
  color: #9E9EA7;
}

.search-icon .search-wrapper button .fa-search:hover {
  color: #6A54C0;
}

.search-icon .search-wrapper input {
  width: inherit;
  background-color: transparent;
  border: none;
}

.search-icon .search-wrapper input:focus-within {
  outline: none;
}

.upload-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .upload-auth {
    display: none;
  }
}

.upload-auth .image-profile {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.upload-auth .btn-upload {
  margin-right: 20px;
}

.card {
  border: none;
}

.card .image-wrapper {
  position: relative;
}

.card .image-wrapper .image-card {
  width: 100%;
  height: auto;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .card .image-wrapper .image-card {
    max-height: 500px;
  }
}

.card .image-wrapper .image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  background: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .image-wrapper .image-overlay p {
  color: white;
  font-weight: bold;
  font-family: "poppins";
  opacity: 0;
  -webkit-transition: opacity ease .3s;
  transition: opacity ease .3s;
}

.card .image-wrapper .image-overlay:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(50%, rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 212, 255, 0) 50%);
}

.card .image-wrapper .image-overlay:hover .btn .btn-secondary {
  opacity: 1;
}

.card .image-wrapper .image-overlay:hover p {
  opacity: 1;
}

.card .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .post-info .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.card .post-info .account p {
  margin-top: 2px;
  margin-left: 8px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-size: 14px;
}

.card .post-info .label {
  display: inline-block;
  cursor: pointer;
  vertical-align: 5px;
  font-size: 1rem;
  margin-top: -8px;
}

.card .post-info .label span {
  margin-left: 3px;
}

.image-option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 100px;
  position: absolute;
  z-index: 2;
}

.image-option .btn .btn-secondary {
  position: relative;
  opacity: 1;
}

.image-option .fas {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .image-option .fas {
    font-size: 16px;
  }
}

.image-option .danger:hover {
  background-color: #DC3444;
  color: white;
}

.image-option .btn-detail {
  width: 40px;
  height: 40px;
  background-color: white;
  color: #6A54C0;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 767px) {
  .image-option .btn-detail {
    width: 50px;
    height: 50px;
  }
}

.image-option .btn-detail:hover {
  background-color: #F3F3F4;
}

.edit-profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .edit-profile-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.edit-profile-form .image-profile {
  position: relative;
}

.edit-profile-form .image-profile .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.edit-profile-form .image-profile .overlay .fas {
  color: white;
  font-size: 38px;
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  margin-left: 10px;
}

.edit-profile-form .image-profile .overlay:hover .fas {
  opacity: 0;
}

.edit-profile-form .image-profile .overlay.disabled {
  cursor: default;
  opacity: 0;
}

.edit-profile-form .image-profile .overlay p {
  margin-top: 14px;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 20px;
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.edit-profile-form .image-profile img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, 0 0 0 9px #6A54C0;
          box-shadow: 0 0 0 4px white, 0 0 0 9px #6A54C0;
}

.edit-profile-form .image-profile #img-profile {
  display: none;
}

.edit-profile-form .user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

@media only screen and (max-width: 767px) {
  .edit-profile-form .user-form {
    margin-top: 20px;
    text-align: center;
    margin-left: 0;
  }
}

.edit-profile-form .user-form__name {
  width: 100%;
  height: 50px;
  font-size: 32px;
  border: none;
  outline: none;
  font-family: "poppins";
  font-weight: 600;
}

.edit-profile-form .user-form__name.user {
  color: #000000;
}

@media only screen and (max-width: 767px) {
  .edit-profile-form .user-form__name {
    text-align: center;
  }
}

.edit-profile-form .user-form__name:disabled {
  background-color: transparent;
}

.edit-profile-form .user-form__desc {
  width: 100%;
  border: none;
  outline: none;
  color: #6E6D7A;
}

@media only screen and (max-width: 767px) {
  .edit-profile-form .user-form__desc {
    text-align: center;
  }
}

.edit-profile-form .user-form__desc:disabled {
  background-color: transparent;
}

.edit-profile-form .user-form .edit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .edit-profile-form .user-form .edit-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.edit-profile-form .user-form .edit-button .submit-profile {
  display: block;
}

.edit-profile-form .user-form .edit-button .submit-profile.disabled {
  display: none;
}

.list-comment .comment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

.list-comment .comment-section__img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.list-comment .comment-section__body {
  margin-left: 10px;
  margin-top: -2px;
  width: 100%;
}

.list-comment .comment-section__body .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-comment .comment-section__body .comment-header .danger {
  font-weight: 500;
}

.list-comment .comment-section__body .comment-header .danger:hover {
  background-color: #DC3444;
  color: white;
}

.list-comment .comment-section__body .comment-header a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.list-comment .comment-section__body .comment-body {
  margin-top: .4rem;
  margin-right: 1.2rem;
  word-break: break-all;
  white-space: normal;
}

.list-comment .comment-section__body .comment-date {
  margin-top: -2px;
  color: #6E6D7A;
}

footer {
  width: 100%;
  padding: 25px;
  background-color: #F3F3F4;
}

footer .logo {
  font-family: "rasa";
  font-weight: 600;
  color: #6A54C0;
  font-size: 3rem;
}

footer .team {
  font-weight: 600;
}

.right-section {
  width: 100%;
  height: 100vh;
  background-color: #6A54C0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: 'Montserrat';
}

.right-section__wrapper {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-section__wrapper .welcome-desc {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #EAF19D;
}

.right-section__wrapper .welcome-title {
  text-align: center;
  color: white;
  font-weight: bold;
}

.left-section {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.left-section__wrapper {
  max-width: 600px;
}

.left-section__wrapper .title-page {
  font-family: 'rasa';
  font-size: 4rem;
  color: #6A54C0;
  text-transform: capitalize;
}

.left-section__wrapper .form-control {
  background-color: #F3F3F4;
}

.left-section__wrapper .redirect-auth.btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

@media only screen and (min-width: 991px) {
  .left-section__wrapper .redirect-auth.btn {
    display: none !important;
  }
}

.home .banner {
  height: 500px;
  width: 100%;
  border-radius: 1rem;
  background-color: rgba(106, 84, 192, 0.9);
}

@media only screen and (max-width: 767px) {
  .home .banner {
    height: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home .banner {
    height: inherit;
  }
}

.home .banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 75px;
  padding-right: 25px;
}

@media only screen and (max-width: 767px) {
  .home .banner__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.home .banner__wrapper img {
  height: 500px;
}

@media only screen and (max-width: 767px) {
  .home .banner__wrapper img {
    height: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home .banner__wrapper img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .home .banner__wrapper .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home .banner__wrapper .desc {
    margin: 50px 0;
  }
}

.home .banner__wrapper .desc p {
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  max-width: 600px;
  width: 100%;
  font-size: 44px;
  line-height: 60px;
  word-break: keep-all;
}

@media only screen and (max-width: 767px) {
  .home .banner__wrapper .desc p {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home .banner__wrapper .desc p {
    font-size: 34px;
    line-height: 48px;
  }
}

.home .content .tags-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  overflow-x: auto;
}

.home .content .tags-list li {
  padding: 5px;
  height: 40px;
  position: relative;
}

.home .content .tags-list label, .home .content .tags-list input {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home .content .tags-list input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
  position: absolute;
}

.home .content .tags-list input[type="radio"]:checked + label,
.home .content .tags-list .Checked + label {
  background: #F3F3F4;
  color: black;
}

.home .content .tags-list label {
  padding: 10px 20px;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 90;
  color: #6E6D7A;
}

.home .message-wrapper {
  padding: 5px;
  background-color: #6A54C0;
  border-radius: 8px;
}

.home .message-wrapper .conditional-message {
  font-size: 20px;
  color: #F3F3F4;
  font-weight: 400;
}

.home .message-wrapper .conditional-message.home {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.home .message-wrapper .conditional-message span {
  font-size: 28px;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.profile {
  width: 100%;
  height: auto;
}

.profile .identity {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .profile .identity {
    height: 400px;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upload {
  font-family: "poppins";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload__wrapper {
  max-width: 700px;
  width: 100%;
}

.upload__wrapper .form-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload__wrapper .form-upload__wrapper {
  width: 700px;
}

.upload__wrapper .form-upload__wrapper .message {
  text-align: center;
  margin-top: 20px;
}

.upload__wrapper .form-upload__wrapper .message > h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.upload__wrapper .form-upload__wrapper .message > p {
  color: #6E6D7A;
}

.upload__wrapper .form-upload__wrapper .input-form-upload {
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  display: none;
}

.upload__wrapper .form-upload__wrapper .input-form-upload.active {
  display: block;
}

.upload__wrapper .form-upload__wrapper .input-form-upload.title {
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  .upload__wrapper .form-upload__wrapper .input-form-upload.title {
    font-size: 18px;
  }
}

.upload__wrapper .form-upload__wrapper .input-form-edit {
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
}

.upload__wrapper .form-upload__wrapper .input-form-edit.title {
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  .upload__wrapper .form-upload__wrapper .input-form-edit.title {
    font-size: 18px;
  }
}

.upload__wrapper .form-upload__wrapper .drag-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload__wrapper .form-upload__wrapper .drag-area .input-area {
  width: 100%;
  height: 440px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px dashed #F3F3F4;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.upload__wrapper .form-upload__wrapper .drag-area .input-area.active {
  background-color: rgba(248, 127, 40, 0.2);
}

.upload__wrapper .form-upload__wrapper .drag-area .input-area.image-exists {
  border: none;
  max-height: 440px;
  height: 100%;
}

.upload__wrapper .form-upload__wrapper .drag-area .input-area__wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

.upload__wrapper .form-upload__wrapper .drag-area .input-area__wrapper p > span {
  color: #F87F28;
}

.upload__wrapper .form-upload__wrapper .drag-area .input-area__message {
  text-align: center;
}

.upload__wrapper .form-upload__wrapper .drag-area .input-area__message #helper-message {
  margin-top: -10px;
  color: #6E6D7A;
}

.upload__wrapper .form-upload__wrapper .drag-area img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-post__wrapper {
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .detail-post__wrapper {
    margin-top: 25px;
  }
}

.detail-post .image-post {
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.detail-post .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-post .content__top > h2 {
  font-weight: 600;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 991px) {
  .detail-post .content__top > h2 {
    margin-top: 1.4rem;
  }
}

.detail-post .content__top > h5 {
  font-weight: 500;
  text-overflow: ellipsis;
}

.detail-post .content__top > p {
  margin-top: 20px;
}

.detail-post .content__bottom {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-post .content__bottom .profile {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-post .content__bottom .profile__image {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.detail-post .content__bottom .profile__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  vertical-align: middle;
}

.detail-post .content__bottom .date {
  max-width: 150px;
  width: 100%;
  color: #6E6D7A;
  text-align: right;
}

.detail-post .content__comment-section .input-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-post .content__comment-section .input-comment__img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-post .content__comment-section .input-comment__input {
  background-color: #F3F3F4;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-right: 10px;
  resize: none;
}

.detail-post .content__comment-section .input-comment__wrapper {
  width: 100%;
  margin-left: 10px;
  background-color: #F3F3F4;
  border-radius: 5px 20px 20px 20px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-post .content__comment-section .input-comment__wrapper span {
  font-weight: 600;
  margin-left: 8px;
}

.detail-post .content__comment-section .input-comment__section {
  width: 85%;
}

.detail-post .content__comment-section .input-comment__submit {
  margin-right: 20px;
  margin-left: 20px;
}

.detail-post .content__comment-section .input-comment__submit input {
  display: none;
}

.detail-post .content__comment-section .input-comment__submit .fas {
  cursor: pointer;
}

body {
  font-family: "poppins";
}

p {
  word-break: break-all;
  white-space: normal;
}

h1, h2, h3, h4, h5 {
  word-break: break-all;
  white-space: normal;
}

.btn {
  border-radius: 0.5rem;
  font-weight: 600;
}

.btn:focus, .btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secondary {
  color: white;
  background-color: rgba(106, 84, 192, 0.9);
  outline: none;
  border: none;
}

.btn-secondary:hover {
  background-color: rgba(106, 84, 192, 0.7);
}

.btn-secondary:focus {
  background-color: #6a54c0;
}

.btn-primary {
  background-color: #F87F28 !important;
  border: none;
  font-family: "poppins";
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-primary:hover {
  background-color: rgba(248, 127, 40, 0.8) !important;
}

.btn-primary:focus {
  background-color: #da5026 !important;
}

.btn-primary:disabled {
  background-color: rgba(248, 127, 40, 0.5) !important;
}

.btn-light {
  background-color: white;
  outline: none;
  border: none;
}

.btn-outline-secondary {
  border: 1px solid #6A54C0;
  color: #6A54C0;
}

.btn-outline-secondary:hover {
  background-color: #6A54C0;
  border: 1px solid #6A54C0;
}

.modal-content {
  border: none;
  outline: none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.dropdown-menu {
  border: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(110, 109, 122, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(110, 109, 122, 0.15);
}

#overlay {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#overlay.active {
  display: block;
}

.input-image {
  max-width: 700px;
  width: 100%;
  max-height: 440px;
  height: auto;
}

.image-wrapper-ue {
  position: relative;
}

.image-wrapper-ue__img {
  max-width: 700px;
  width: 100%;
  max-height: 440px;
  height: auto;
}

.image-wrapper-ue__overlay {
  position: absolute;
  display: -ms-grid;
  display: grid;
  font-weight: 600;
  font-size: 24px;
  place-items: center;
  text-transform: capitalize;
  color: white;
  border-radius: .5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.image-wrapper-ue__overlay .information-wrapper {
  text-align: center;
}

.image-wrapper-ue__overlay .information-wrapper i {
  margin-bottom: .8rem;
  font-size: 52px;
}

.image-wrapper-ue__overlay:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */