

.home{
    .banner{
        height: 500px;
        width: 100%;
        border-radius: 1rem;
        background-color: rgba($color: $primary, $alpha: .9);

        @media only screen and (max-width: 767px) {
            height: 100%;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            height: inherit;
        }
        

        &__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 75px;
            padding-right: 25px;

            @media only screen and (max-width: 767px) {
                flex-direction: column-reverse;
                padding-left: 25px;
                padding-right: 25px;
            }

            img{
                height: 500px;

                @media only screen and (max-width: 767px) {
                    height: 300px;
                }

                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    display: none;
                }
            }

            .desc{
                @media only screen and (max-width: 767px) {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 40px;
                }

                @media only screen and (min-width: 768px) and (max-width: 991px) {
                    margin: 50px 0;
                }
                
                p{
                    color: white;
                    font-family: $mons;
                    font-weight: 600;
                    max-width: 600px;
                    width: 100%;
                    font-size: 44px;
                    line-height: 60px;
                    word-break: keep-all;

                    @media only screen and (max-width: 767px) {
                        font-size: 24px;
                        line-height: 30px;
                        text-align: center;
                    }

                    @media only screen and (min-width: 768px) and (max-width: 991px) {
                        font-size: 34px;
                        line-height: 48px;
                    }
                }
            }
        }
    }

    .content{

            .tags-list{
                list-style-type: none;
                display: flex;
                justify-content: center;
                height: 50px;
                overflow-x: auto;

                li{
                    padding: 5px;
                    height: 40px;
                    position: relative;
                }

                label,input{
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                }

                input[type="radio"] {
                    opacity: 0.01;
                    z-index: 100;
                    position: absolute;
                }

                input[type="radio"]:checked+label,
                .Checked+label {
                    background: $bg;
                    color: black;
                }

                    label {
                        padding: 10px 20px;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        z-index: 90;
                        color: $ntxt;
                    }
            }

    }

    .message-wrapper{
        padding: 5px;
        background-color: $primary;
        border-radius: 8px;

        .conditional-message{
            font-size: 20px;
            color: $bg;
            font-weight: 400;

            &.home{
                font-size: 28px;
                font-weight: bold;
                color: white;
            }
    
            span{
                font-size: 28px;
                color: white;
                font-style: italic;
                font-weight: bold;
            }
        }
    }

}

