.profile{
    width: 100%;
    height: auto;
    .identity{
        height: 300px;
        width: 100%;
        border-bottom: 1px solid $bg;

        display: flex;
        justify-content: center;
        align-items: center;

        form{
            display: flex;

            .image-profile{
                img{
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .user-form{
                display: flex;
                flex-direction: column;
                margin-left: 25px;

                &__name{
                    height: 70px;
                    font-size: 42px;
                    border: none;
                    outline: none;
                    font-family: $pop;
                    font-weight: 600;


                    &:disabled{
                        background-color: transparent;
                    }
                }

                &__desc{
                    border: none;
                    outline: none;
                    color: $ntxt;

                    &:disabled{
                        background-color: transparent;
                    }
                }
            }
        }

    }

}